@import '../styles/variables.scss';

.wrapper {
  text-align: center;
  h1 {
    font-weight: 400;
  }
}

.categoriesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.comedy, .horror {
  font-size: 30px;
  font-weight: 200;
  padding: 40px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: $primary-blue;
    transition: 0.3s;
    text-shadow: 0px 0px 10px rgb(66, 115, 194);
  }
}



.separator {
  height: 100px;
  border-left: 1px solid $primary-blue;
}